﻿body {
    max-width: 800px;
}


.navbar-brand {
    text-align: center;
    float: none;
}

.navbar-brand img {
    display: inline-block;
}

.clickToCall {
    background-color: #F35F5C;
    position: fixed;
    right: 2rem;
    top: 0;
    width: 80px;
    text-align: center;
    color: white;
    height: 110px;
    border-radius: 0 0 100px 100px;
    padding: 2rem 1rem;
    line-height: 1.2;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.clickToCall:hover {
    color: white;
    background-color: #F24E4B;
    text-decoration: none;
}

.clickToCall span {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.calling {
    display: none;
    position: fixed;
    right: 2rem;
    top: 2rem;
    text-align: center;
}

.calling .img-content {
    width: 300px;
    height: 250px;
    margin-bottom: 2rem;
    overflow: hidden;
}

.calling .name {
    background-color: #F35F5C;
    margin: 0;
    padding: 0.5rem;
    color: white;
    text-align: center;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 300px;
}

#sidebar-wrapper {
    z-index: 9999;
    position: fixed;
    left: 300px;
    width: 0;
    height: 100%;
    margin-left: -300px;
    overflow-y: auto;
    border-top: 7px solid #F35F5C;
    background: #005A7E;
    box-shadow: inset 1px 0px 2px 0px rgba(0,0,0,0.10);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 300px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-left: -300px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 300px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {

    body {
        margin-left: 300px;
    }

    a#menu-toggle, a#menu-close {
      display: none;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 300px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 300px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
