﻿@{
    ViewBag.Title = "Contact";
}

<p>aaaaaaaaaaaaaaaa</p>
<div id="vid-box"></div>
<p>ddddddddddddddddddd</p>
<div id="vid-thumb"></div>
<div id="inCall">
    <!-- Buttons for in call features -->
    <button id="end" onclick="end()">End</button> <button id="mute" onclick="mute()">Mute</button> <button id="pause" onclick="pause()">Pause</button>
</div>

<div ng-app="app2" ng-controller="ChatCtrl2">
    <ul class="collection">
        <li class="collection-item avatar" ng-repeat="message in messages">
            <img src="{{avatarUrl(message.sender_uuid)}}" alt="{{message.sender_uuid}}" class="circle">
            <span class="title">Anonymous robot #{{ message.sender_uuid }}</span>
            <p><i class="prefix mdi-action-alarm"></i><span class="message-date">{{ message.date | date:"MM/dd/yyyy 'at' h:mma"}}</span></br> {{ message.content }}</p>
        </li>
    </ul>
    <footer class="teal">
        <form ng-submit="sendMessage()" class="container">
            <div class="row">
                <div class="input-field col s10">
                    <i class="prefix mdi-communication-chat"></i>
                    <input ng-model="messageContent" type="text" placeholder="Type your message">
                    <span class="chip left">
                        <img src="{{avatarUrl(uuid)}}">
                        Anonymous robot #{{uuid}}
                    </span>
                </div>
                <div class="input-field col s2">
                    <button type="submit" class="waves-effect waves-light btn-floating btn-large">
                        <i class="mdi-content-send"></i>
                    </button>
                </div>
            </div>
        </form>
    </footer>
</div>


<script src="~/Scripts/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<!--<script src="https://cdn.pubnub.com/pubnub-3.7.14.min.js"></script>-->
<script src="https://cdn.pubnub.com/webrtc/webrtc.js"></script>
<script src="https://cdn.pubnub.com/webrtc/rtc-controller.js"></script>
<script src="https://cdn.pubnub.com/pubnub-3.7.21.js"></script>
<script src="https://cdn.pubnub.com/sdk/pubnub-angular/pubnub-angular-3.2.1.js"></script>

<script src="~/Scripts/handlers/contact.js"></script>


